{% extends "main_layout.html" %}
{% block content %}

<div>
    <div class="top">
        <span class="top-text">Beranda</span>
    </div>

    <div class="main__content">
        <div class="main__content-content">

            <div class="home__title-icon">
                <i class='bx bxs-user-voice home__title-icon'></i>
            </div>
            <h2 class="home__title">Tell - Us</h2>
            <p>
                Tell-Us merupakan aplikasi berbasis web yang menerapkan Algoritma K-Means Clustering untuk melakukan <i>text clustering</i>.
                <i>Text Clustering</i> merupakan pengelompokkan teks ke dalam beberapa kelompok berdasarkan kemiripan teks tersebut.
                Teks yang menjadi objek aplikasi ini adalah teks ulasan aplikasi startup yang diperoleh dari website <i>Google Playstore</i>.
            </p>
            <p>Langkah-langkah penggunaan Tell-Us adalah sebagai berikut :</p>
            <ol>
                <li>
                    Masukkan id url dari suatu aplikasi di Google Play Store. 
                    (contoh : id.kulina.app dari https://play.google.com/store/apps/details?id=id.kulina.app&hl=en&gl=US)
                </li>
                <li>
                    Setelah data muncul pada tabel, langkah selanjutnya adalah <i>Text Preprocessing</i>.
                    Tekan tombol <b>"Selanjutnya"</b> yang berada dibawah tabel untuk melakukan 
                    <i>Text Preprocessing</i>.
                </li>
                <li>
                    Setelah <i>Text Preprocessing</i> berhasil dan data bersih telah ditampilkan, 
                    langkah berikutnya adalah Klasterisasi. Tekan tombol <b>"Klasterisasi"</b> 
                    yang berada dibawah tabel untuk memulai proses klasterisasi.
                </li>
                <li>
                    Kemudian akan ditampilkan hasil klasterisasi dari data yang telah diproses.
                </li>
            </ol>

            <br>
            
            <div class="button-start">
                <a href="{{ url_for('scraping') }}" class="button">Mulai</a>
            </div>
            
        </div>

    </div>
    

</div>

{% endblock %}