<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <link rel="icon" href="{{ url_for('static', filename='img/user-voice-solid-24.png') }}">

        <title>Tell - Us</title>
    </head>
    <body>
        

        <!-- LOGIN FORM -->
        <div class="">
            <div class="login-center">
                <div class="home__title-icon">
                    <i class='bx bxs-user-voice home__title-icon'></i>
                </div>
                <h1 class="home__title">Tell - Us</h1>
                <form action="" method="post">
                    <div class="input-login">
                        <input type="" name="username" class="form-login" placeholder="Username">
                        <input type="password" class="form-login" name="password" placeholder="Password">
                    </div>
                    

                    <button type="submit" class="button button-login">Login</button>
                </form>
            </div>
        </div>


        <!--========== MAIN JS ==========-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
