<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!--========== DATATABLES ==========-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>

        <link rel="icon" href="{{ url_for('static', filename='img/user-voice-solid-24.png') }}">

        <title>Tell - Us</title>
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <img src="{{ url_for('static', filename='img/user-circle-solid-24.png') }}" alt="" class="header__img">

                <a href="#" class="header__logo">Tell - Us</a>
    
                <div class="header__search">
                    <input type="search" placeholder="Search" class="header__input">
                    <i class='bx bx-search header__icon'></i>
                </div>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <i class='bx bxs-user-voice nav__icon' ></i>
                        <span class="nav__logo-name">Tell - Us</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
    
                            <a href="{{ url_for('index') }}" class="nav__link">
                                <i class='bx bx-home nav__icon' ></i>
                                <span class="nav__name">Beranda</span>
                            </a>

                            <a href="{{ url_for('scraping') }}" class="nav__link">
                                <i class='bx bx-message-edit nav__icon' ></i>
                                <span class="nav__name">Scraping Data Ulasan</span>
                            </a>

                            <a href="{{ url_for('stopword') }}" class="nav__link">
                                <i class='bx bx-message-alt-x nav__icon' ></i>
                                <span class="nav__name">Data Stopword</span>
                            </a>

                            <a href="{{ url_for('normalization') }}" class="nav__link">
                                <i class='bx bx-message-alt-error nav__icon' ></i>
                                <span class="nav__name">Data Normalisasi</span>
                            </a>

                            <a href="{{ url_for('clean') }}" class="nav__link">
                                <i class='bx bx-message-alt-check nav__icon' ></i>
                                <span class="nav__name">Data Bersih</span>
                            </a>

                            <a href="{{ url_for('clustering') }}" class="nav__link">
                                <i class='bx bx-line-chart nav__icon' ></i>
                                <span class="nav__name">Klasterisasi</span>
                            </a>
                        </div>
    
                    </div>
                </div>

                <a href="{{ url_for('logout') }}" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <main role="" class="">
            <div class="">
                <div class="">
                    <!-- FLASH -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}"> {{ message }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <!--========== MAIN JS ==========-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!--========== DATATABLES ==========-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.empTable').DataTable();
            });
        </script>
    </body>
</html>