{% extends "main_layout.html" %}
{% block content %}

<div>
    <div class="top__content">
        <span class="">Data Ulasan</span>
    </div>
    <div class="main__content">
        <div class="main__content-content">
            <h3>Data Ulasan</h3> 
            <br>
            
            {% for table in tables %}
                {{ titles[loop.index ]}}
                {{ table|safe }}
            {% endfor %}

            <br>

            <a href="{{ url_for('download') }}" class="button-download">
                <i class='bx bxs-download' ></i>
                <span class="">Unduh File (.csv)</span>
            </a>
            
            <br><br><br><br>
            
            <div class="">
                <a href="{{ url_for('scraping') }}" class="button" style="float: left;">Sebelumnya</a>
                <a href="{{ url_for('clean') }}" class="button" style="float: right;">Selanjutnya</a>
            </div>
            <br><br>
            <span class="text-instruction">Klik "Selanjutnya" untuk mengeksekusi proses <i>Text Preprocessing</i> 
                atau "Sebelumnya" untuk kembali ke halaman <i>Scraping</i></span>
            
        </div>
    </div>
</div>

{% endblock %}